<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>        
	<add key="repositoryPath" value="./packages" />
  </config>  

  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />

    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>

  <packageSources>
    <!--<clear />-->
	<!--<add key="local" value="c:\nuget" />-->
		<add key="topsoft public" value="https://ng.topsoft.by/api/v2/" />	
		<add key="topsoft private" value="https://nuget.topsoft.local/api/v2/" />
	  <add key="topsoft" value="https://nuget.topsoft.by/api/v2/" />
	  <add key="nuget" value="https://nuget.org/api/v2/" />
  </packageSources>
</configuration>
