<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.serviceModel>

    <behaviors>
      <endpointBehaviors>
        <behavior name="">
          <clientCredentials>
            <windows allowedImpersonationLevel="Impersonation" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataLoaderService" maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <client>
      <endpoint address="http://localhost:16356/DataLoaderService.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataLoaderService" contract="DataLoaderServiceReference.IDataLoaderService" name="BasicHttpBinding_IDataLoaderService" />
    </client>
  </system.serviceModel>
</configuration>
